
body{
    background: #eaeaea;
    margin-left: 0px;
    color: #303335;
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: "proxima-nova", "proxima-nova", Helvetica, Arial, sans-serif !important ;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
.header-cont {
    z-index: 100;
    width:100%;
    position:fixed;
    margin: 36px;
    top:0px;
}


#searchResults {
    float: left;
    width: calc( 39% - 4px );
    max-width: 280px;
}

#wrap{
    background: #505459;
    margin: 140px auto;
    display: flex;
}

.movie{
    width: calc( 60% );
    width: calc( 61% - 30px );
    margin: 30px 0px 0px 30px;
}


/********** HEADER **********/
#logo > p {
    margin: 0px;
}
#logo{
    max-width: 160px;
    background: rgba(53,57,62,0.8);
    color: #eaeaea;
    margin-right: 0px;
    padding: 15px;
    font-size: 18px;

}
#searchBox {
    position: relative;
    width: 300px;
}
div.fieldCont > div {
    -moz-box-flex: 0;
    display: -webkit-box;
    display: -moz-box;
}

.topField{
    padding: 10px;
    margin-right: 1px;
    height: 15px;
    background: rgba(255,255,255,0.8);
    color: #777;
    font-size: 11px;
    overflow: hidden;
    margin: 0px 0px 2px 2px;
}

#title {
    font-size: 14px;
    color: #ddd;
    border-width: 0;
    background: transparent;
}

#searchBox input[type="text"] {
    width: 215px;
    color: #333;
    margin: 0px;
    outline: none;
    font-size: 11px;
}
#portfolio > a{
    text-decoration: none;
}
#searchBtn{
    position: absolute;
    top: 0;
    right: 0;
    height: 35px;
    width: 80px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 42px;
    border-width: 0;
    background: rgba(218,85,79,0.7);
    cursor: pointer;
}
#searchBtn:hover {
    background: #da554f!important;
}
#searchBtn:active {
    background: #da554f!important;
}
#searchBtn > img {
    height: 60%;
    margin: 10%;
}
.header > div{
    float: left;

}
.search-bar{
    width: 65%;
}



/********** MOVIE INFO **********/
.movieCont {
    width: 1000px;
    margin: auto;
    padding-bottom: 80px;
    padding-top: 80px;

}
.movie {
    position: relative;
    display: inline-block;
}
.movie img {
    vertical-align: middle;
    width: calc(100% - 32px);
    margin: 16px;

}
.movieContRight{
    float: left;
    width: calc( 70% - 16px);
    padding-left: 16px;
}
.movieContLeft{
    float: left;
    width: 30%;
}
#movieTitle {

    color: white;

}
.movieContLine > img , .movieContLine > p{
    display: inline;
}
.movieContLine > img{
    width: 22px;
    margin: 0px;
}
.movieContLine{
    margin-top: 6px;

}

#searchResults{
    color: white;
    border-right: 4px solid;
}

.movieContRight > p, .movieContRight > div > p {
    font-size: 14px;
    font-weight: 100;
    color: white;
}
li {
    list-style-type: circle;
    font-weight: 400;
    padding-right: 30px;
}
li:hover {
    color: #D4856F;
}

